<!DOCTYPE html>
<html>
<head>
  <title>Pousada Paraiso do Pontal</title>
  <%= stylesheet_link_tag    "layout", :media => "all" %>
  <%= javascript_include_tag "jquery-1.4.1.min" %>
  <%= javascript_include_tag "jquery.waterwheelCarousel.setup" %>
  <%= javascript_include_tag "jquery.waterwheelCarousel.js" %>
  <%= csrf_meta_tags %>
</head>

<body id="top">
	<p style="color: green"><%= flash[:notice]%></p>
<div class="wrapper col1">
  <div id="header">
    <div class="fl_left">
      <h1><a href="#">Pousada Paraíso do Pontal</a></h1>
      <p>Atendimento personalizado</p>
    </div>
   
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col2">
  <div id="topbar">
    <div id="topnav">
      <ul>
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="style-demo.html">Contato</a></li>
        <li><a href="full-width.html">Como chegar</a></li>
        <li><a href="#">Localidade</a>
          <ul>
            <li><a href="#">Atividades</a></li>
            <li><a href="#">Eventos</a></li>
           
          </ul>
        </li>
        <li class="last"><a href="#">Reservar</a>
        	
        	 <ul>
            <li><a href="#">Promoções</a></li>
            <li><a href="#">Tarifas</a></li>
           
          </ul>
        </li>
      </ul>
    </div>
    <div id="search">
      <form action="#" method="post">
        <fieldset>
          <legend>Site Search</legend>
          <input type="text" value="Buscar no web site&hellip;"  onfocus="this.value=(this.value=='Buscar no web site&hellip;')? '' : this.value ;" />
          <input type="submit" name="go" id="go" value="Buscar" />
        </fieldset>
      </form>
  
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col3">
  <div id="waterwheelCarousel">
  	 <img src="images/waterwheelCarousel/f7.jpg" width="400" height="200" alt="" />
    <img src="images/waterwheelCarousel/f10.jpg" width="400" height="200" alt="" />
    <img src="images/waterwheelCarousel/p3.jpg" width="400" height="200" alt="" />
    <img src="images/waterwheelCarousel/p6.jpg" width="400" height="200" alt="" />
    <img src="images/waterwheelCarousel/p9.jpg" width="400" height="200" alt="" />
   
    <img src="images/waterwheelCarousel/p2.jpg" width="400" height="200" alt="" />   
      <img src="images/waterwheelCarousel/pousada.jpg" width="400" height="200" alt="" />
    <img src="images/waterwheelCarousel/p1.jpg" width="400" height="200" alt="" />
    <img src="images/waterwheelCarousel/p4.jpg" width="400" height="200" alt="" />
    <img src="images/waterwheelCarousel/p8.jpg" width="400" height="200" alt="" />
    <img src="images/waterwheelCarousel/p7.jpg" width="400" height="200" alt="" />
    <img src="images/waterwheelCarousel/f24.jpg" width="400" height="200" alt="" />
     <img src="images/waterwheelCarousel/f23.jpg" width="400" height="200" alt="" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col4">
  <div id="featured_intro">
    <div class="fl_left">
    <a href="#"><img src="images/demo/LogoPousada1.jpg" alt="" /></a>
    </div>
    <div class="fl_right">
    	
      <h2>Pousada Paraíso do Pontal</h2>
       <p>Com 365 dias de sol por ano, considerada a jóia do litoral leste cearence, Pontal do Maceió é muito tranqüila
. Situada entre encontro das aguas do rio com mar, a vila tornou-se um pólo turístico com uma excelente infra-estrutura.</p>
<p>
Pousada Paraíso do Pontal oferece uma hospedagem tranqüila e ideal para quem deseja um atendimento personalizado,
voltado ao conforto, e bem estar dos nossos clientes.</p>
<p>
Venha conhecer os encantos das Praias e Rios  do Pontal de Maceió e aproveite sua estada na nossa pousada.
</p>
      
      
    
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col5">
  <div id="footer">
    <div class="footbox twitter">
      <h2>Latest From Twitter</h2>
      <ul>
        <li><a href="#">@TwitterName</a> nibhpede faucibulum ris phasellentum elit sed hend quisque.  1 day ago</li>
        <li><a href="#">@TwitterName</a> tellentumst monterdum augue curabitae elit felit, elitligula adipiscingilla. 1 day ago</li>
        <li><a href="#">@TwitterName</a> libero praesentum sed? 1 day ago</li>
        <li><a href="#">@TwitterName</a> condimentesque nec facilis pretium tellenterdum. Vivamusid elit curabitur augue. 1 day ago</li>
        <li><a href="#">@TwitterName</a> ligula sed ipsum in tellentesque donec ac. 1 day ago</li>
      </ul>
    </div>
    <div class="footbox flickr">
      <h2>Fotos da Região</h2>
      <ul>
         <li><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></li>
        <li><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></li>
        <li><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></li>
        <li><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></li>
        <li><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></li>
        <li><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></li>
      </ul>
      <br class="clear" />
    </div>
    <div class="footbox posts">
      <h2>Serviços publicos</h2>
      <ul>
        <li><a href="#">190 - Polícia Militar</a></li>
        <li><a href="#">191 - Polícia Rodoviária Federal</a></li>
        <li><a href="#">197 - Polícia Civil</a></li>
        <li><a href="#">193 - Corpo de Bombeiros</a></li>
        <li><a href="#">160 - Disque Saúde </a></li>
       
      </ul>
    </div>
    <div class="footbox banners last">
      <h2>Parceiros</h2>
      <ul>
      	 <li><img src="images/waterwheelCarousel/pousadaAracati.jpg" width="220" height="150" alt="" />
        </a></li>
      
       
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col6">
  <div id="copyright">
    <p class="fl_left">Copyright &copy; 2012 - All Rights Reserved - <a href="#">Pousada Paraíso do Pontal &hellip; </a></p>
      <p class="fl_left"> WebMaster &hellip; <a href="http://eboxbrasil.com.br">Erlon Carlos</a></p>
    <p class="fl_right">Template by <a href="http://www.os-templates.com/" target="_blank" title="Free Website Templates">OS Templates</a></p>
    <br class="clear" />
  </div>
</div>
</body>

</html>
