<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>contacts.html</title>
	   <title>Pousada Paraiso do Pontal</title>
  <%= stylesheet_link_tag    "layout", :media => "all" %>
  <%= javascript_include_tag "jquery-1.4.1.min" %>
  <%= javascript_include_tag "jquery.waterwheelCarousel.setup" %>
  <%= javascript_include_tag "jquery.waterwheelCarousel" %>
  <%= csrf_meta_tags %>
  </head>
 <body id="top">
 
<div class="wrapper col1">
  <div id="header">
     <div class="fl_left">
      <h1><a href="home">Pousada Paraíso do Pontal</a></h1>
      <p>Atendimento personalizado</p>
    </div>
   
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col2">
  <div id="topbar">
    <div id="topnav">
      <ul>
        <li class="active"><a href="home">Home</a></li>
        <li><a href="/contacts">Contato</a></li>
        <li><a href="full-width.html">Como chegar</a></li>
        <li><a href="#">Localidade</a>
          <ul>
            <li><a href="#">Atividades</a></li>
            <li><a href="#">Eventos</a></li>
           
          </ul>
        </li>
        <li class="last"><a href="#">Reservar</a>
        	
        	 <ul>
            <li><a href="#">Promoções</a></li>
            <li><a href="#">Tarifas</a></li>
           
          </ul>
        </li>
      </ul>
    </div>
    <div id="search">
      <form action="#" method="post">
        <fieldset>
          <legend>Site Search</legend>
          <input type="text" value="Search Our Website&hellip;"  onfocus="this.value=(this.value=='Search Our Website&hellip;')? '' : this.value ;" />
          <input type="submit" name="go" id="go" value="Search" />
        </fieldset>
      </form>
    </div>
    <br class="clear" />
  </div>
</div>
<div class="wrapper col4">
  <div id="container">
    <div id="content">
     
      <%= yield %>
        
     
    
     
    </div>
    <div id="column">
      <div class="subnav">
        <h2>Menu Navegação</h2>
        <ul>
          <li><a href="home">Home</a></li>
          <li><a href="/contacts">Contato</a>
            
          </li>
          <li><a href="#">Como chegar</a>
           
          </li>
          <li><a href="#">Localidade</a>
          	  <ul>
            <li><a href="#">Atividades</a></li>
            <li><a href="#">Eventos</a></li>
           
          </ul>
          	
          </li>
            <li><a href="#">Reserva</a>
<ul>
            <li><a href="#">Promoções</a></li>
            <li><a href="#">Tarifas</a></li>
           
          </ul>

        </ul>
      </div>
      <div class="holder">
        <h2 class="title"><img src="images/demo/60x60.gif" alt="" />Nullamlacus dui ipsum conseque loborttis</h2>
        <p>Nullamlacus dui ipsum conseque loborttis non euisque morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque.</p>
        <p class="readmore"><a href="#">Continue Reading &raquo;</a></p>
      </div>
      
     
    </div>
    <br class="clear" />
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col5">


 <div id="footer">
    <div class="footbox twitter">
      <h2>Últimas do Twitter</h2>
      <ul>
        <li><a href="#">@TwitterName</a> nibhpede faucibulum ris phasellentum elit sed hend quisque.  1 day ago</li>
        <li><a href="#">@TwitterName</a> tellentumst monterdum augue curabitae elit felit, elitligula adipiscingilla. 1 day ago</li>
        <li><a href="#">@TwitterName</a> libero praesentum sed? 1 day ago</li>
        <li><a href="#">@TwitterName</a> condimentesque nec facilis pretium tellenterdum. Vivamusid elit curabitur augue. 1 day ago</li>
        <li><a href="#">@TwitterName</a> ligula sed ipsum in tellentesque donec ac. 1 day ago</li>
      </ul>
    </div>
    <div class="footbox flickr">
      <h2>Fotos da Região</h2>
      <ul>
         <li><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></li>
        <li><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></li>
        <li><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></li>
        <li><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></li>
        <li><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></li>
        <li><a href="#"><img src="images/demo/80x80.gif" alt="" /></a></li>
      </ul>
      <br class="clear" />
    </div>
    <div class="footbox posts">
      <h2>Serviços públicos</h2>
      <ul>
        <li><a href="#">190 - Polícia Militar</a></li>
        <li><a href="#">191 - Polícia Rodoviária Federal</a></li>
        <li><a href="#">197 - Polícia Civil</a></li>
        <li><a href="#">193 - Corpo de Bombeiros</a></li>
        <li><a href="#">160 - Disque Saúde </a></li>
       
      </ul>
    </div>
    <div class="footbox banners last">
      <h2>Parceiros</h2>
      <ul>
      	 <li><img src="images/waterwheelCarousel/pousadaAracati.jpg" width="220" height="150" alt="" />
        </a></li>
      
       
      </ul>
    </div>
    <br class="clear" />
  </div>
  
  
  
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col6">
   <div id="copyright">
    <p class="fl_left">Copyright &copy; 2012 - All Rights Reserved - <a href="#">Pousada Paraíso do Pontal &hellip; </a></p>
      <p class="fl_left"> WebMaster &hellip; <a href="http://eboxbrasil.com.br" target="_blank" >Erlon Carlos</a></p>
    <p class="fl_right">Template by. <a href="http://www.os-templates.com/" target="_blank" title="Free Website Templates">OS Templates</a></p>
    <br class="clear" />
  </div>
</div>
</body>

</html>
